body{
  font-family:Arial, sans-serif;
}

.title {
  background-color: #fff;
  margin-top: 10%;



}

.noticia{
  background-color: #fff;
  width:31%;
  height: 40%;
  float: left;
  margin-left:2%;
  margin-top: 5%;
  border: 2px solid #008CBA;


}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 6%;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

a:link {
    color: #000;
    text-decoration:none;
}

a:visited {
    color: #4682B4;
}

a:hover {
    color: #87CEEB;

}

a:active {
    color: #4682B4;
}
@media screen and (max-width: 1195px) {

  .noticia{
    background-color: #fff;
    width:90%;
    height: 40%;
    float: left;
    margin-left:2%;
    margin-top: 5%;
    padding-top: 5%;
    border: 2px solid #008CBA;
    position:sticky;

  }
}
