
{% extends "layoutAluno.html" %}
{% load static %}

{% block css %}
  <!--<link rel="stylesheet" href="{% static 'css/ccs-da-pagina.css' %}"> -->
{% endblock %}

{% block title %}
	Cadastro Usuário  - {{ block.super }}
{% endblock %}

{% block main %}
      

    {% for questao in questoes %}

    <h2>Questão {{questao.numero}}</h2>
    <label >{{questao.descricao}}</label>
    <textarea style="border-radius: 3px;" name="txt" id="txt-{{questao.id}}" cols="80" rows="10"></textarea>
    <input onclick="responderQuestao(this)" value="Responder" style="display:block; background-color:aqua; border:0px; color:#000;"type="submit" name="button" data-questao-id="{{questao.id}}">

   
    {% if anterior_id != None %}
    <a href="/aluno/avaliacoes/?questao_id={{anterior_id}}">Questão anterior</a>
    {% endif %}
    
    
    {% if proxima_id != None %}
    <a href="/aluno/avaliacoes/?questao_id={{proxima_id}}">Proxima questão</a>
    {% endif %}

    {% endfor %}

{% endblock %}
            
            


        {% block scripts %}
        <script>
            function responderQuestao(botao) {
                questao_id = botao.getAttribute('data-questao-id');
                txt = document.getElementById('txt-'+questao_id);
                resposta = txt.value;
                
                

                postAjax('/aluno/avaliacoes/responder/', { questao_id: questao_id, 
                                                        resposta:resposta,
                                                        csrfmiddlewaretoken: '{{ csrf_token }}'}, 
                        function(data) {
                            txt.di
                        }
                    );

                        
            }
        </script>
        {% endblock %}
  