{% extends "layout.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/cursos.css' %}">
{% endblock %}

{% block title %}
	Cursos  - {{ block.super }}
{% endblock %}

{% block main %}
    <section class="container sesao">
        
        <h1 class = "TitleSobreCurso">Sobre o Curso</h1>
        
        <div class="sobre_curso">
        <p class="text">
            O curso é destinado a amantes da tecnologia, que querem se especializar no desenvolvimento de
            Software para Web, Mobile ou Desktop.

        </p>
        <p>
            Poderá aprender mais fundo como realizar projetos em equipe e com clientes reais,
            assim tendo a experiencia de um verdadeiro profissional do TI.

        </p>
        </div>

        <h2 class = "TitleGradeCurricular">
            Grade Curricular
        </h2>

        <div class="list-all">
        <div class="lista">
        <h3>
            1º Semestre
        </h3>

        <ul>

            <li><a class = "linkMateria" href="banco_de_dados.html">Banco de Dados</a></li>

            <li>Linguagem de Programação I</li>

            <li>Logica de Programação</li>

            <li>Introdução a Web</li>

        </ul>

        </div>

        
        <div class="lista">
        <h3>
            2º Semestre
        </h3>

        <ul>
            <li>Linguagem SQL</li>

            <li>Linguagem de Programação II</li>

            <li>Tecnologia Web</li>

            <li>Engenharia de Software</li>

        </ul>
        </div>

        <div class="lista">
        <h3>
            3º Semestre
        </h3>

        <ul>
            <li>Estrutura de dados</li>

            <li>Modelagem de Processos de Negócio</li>

            <li>Análise de Sistema</li>

            <li>TCC I</li>

        </ul>
        </div>
        <div class="lista">
        <h3>
            4º Semestre
        </h3>

        <ul>
            <li>Desenvolvimento Mobile</li>

            <li>Qualidade de Software</li>

            <li>Arquiteturade Projetos</li>

            <li>TCC II</li>

        </ul>
        </div>

        </div>

    </section>
{% endblock %}

{% block scripts %}
  <script>
    console.log('script home, pos main');
  </script>
{% endblock %}

