{% extends "layout.html" %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}
	Detalhe Curso  - {{ block.super }}
{% endblock %}

{% block main %}
<div class="full_width_title" >
    <section>
        <h2 class="title_page">{{curso.nome}}</h2>
    </section>
</div>
<section>
    <h1>Faculdade HandCode de Tecnologia</h1>
    <h2>Sobre o Curso</h2>
    <p class="text"></p>
        
</section>
<div class="full-width-color">
    <section>
        <h2>Grade</h2>  
    </section>
</div>

{% endblock %}

{% block scripts %}  
{% endblock %}