{% extends "layout.html" %}
{% load static %}

{% block css %}
  
{% endblock %}

{% block title %}
	A HandCode  - {{ block.super }}
{% endblock %}

{% block main %}
<body>
    <div class="full_width_title">
        <section>
            <h2 class="title_page">Conheça a Faculdade</h2>
        </section>
    </div>
    <section>
        <h1>Faculdade HandCode de Tecnologia</h1>
        <h2>Instituição</h2>
        <p class="text">A Faculdade HandCode de Tecnologia nasceu da percepção de um Grupo, que desde 1998 é referência em TI, Gestão e Design, para suprir a falta de mão de obra especializada do mercado de tecnologia e oferecer uma formação completa e multidisciplinar aos alunos.
           Com a missão de levar o estado da arte em matéria de tecnologia de ponta às empresas e formar profissionais capazes e competentes, a Faculdade Impacta Tecnologia oferece cursos de Graduação, Pós-Graduação, Extensão e MBA, ministrados por mestres e doutores com experiência de mercado, que preparam os estudantes para a realidade do mercado de trabalho e proporcionam uma educação comprometida com a ética, a cidadania, o conhecimento e o atendimento às necessidades contemporâneas, por meio de uma estrutura educacional inovadora e diferenciada.             
           Faculdade Impacta. Mais do que uma parceira para a vida acadêmica, uma parceira para a vida inteira.</p>
        
    </section>
    <div class="full_width">
            <section>
                <h3>Você dentro de uma faculdade que é referência em tecnologia.<br>Venha para a HandCode!</h3>
            </section>
    </div>
    <div class="full-width-color">
        <section>
            <h2>Missão</h2>
            <p class="text">A missão da Faculdade HandCode é oferecer um ambiente propício à formação integral do ser humano, 
                proporcionando uma educação comprometida com a ética, a cidadania, o conhecimento e o atendimento às necessidades contemporâneas, 
                por meio de uma estrutura educacional inovadora e diferenciada, contribuindo para uma melhor qualidade de vida do indivíduo e da sociedade.</p>
            
        </section>
    </div>
    <div class="full_width_line"></div> 
{% endblock %}

{% block scripts %}
  <script>
    
  </script>
{% endblock %}