{% extends "layoutprofessor.html" %}
{% load static %}


{% block main %}
<div>
    <h2 id="title">Exercícios</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Número</th>
            <th>Questão</th>
            <th>Data Limite</th>
            <th><input class = "nova" type="button" onclick="window.location.href='cadastrar-exercicio';"  value="Novo Exercício +"></th>
            
        </tr>
    </thead>
    <tbody>
        
        {% for questao in questoes  %}
        <tr>
            <td>{{ questao.numero }}</td>
            <td>{{ questao.descricao }}</td>
            <td>{{ questao.data_limite_entrega}}</td>
            <td><input  onclick="excluirExercicio(this)" data-turma-id="{{questao.turma_id}}" data-questao-id="{{questao.id}}" type="button" value="Excluir"></td>
            <!--<td><input  onclick="" data-turma-id="{{questao.id}}" type="button" value="Detalhes"></td>-->
            
        </tr>
        {% empty %}
            <p>Não há questões cadastradas</p>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    function excluirExercicio(botao) {
        var turmaId = botao.getAttribute('data-turma-id');
        var questaoId = botao.getAttribute('data-questao-id')

        var array = { turmaId: turmaId, questaoId: questaoId, csrfmiddlewaretoken: '{{ csrf_token }}'}

        botao.disabled = false;
        postAjax('/professor/exercicios/excluir/', array, 
                function(data) {
                    botao.closest('tr').remove();
                    var json = JSON.parse(data);
                    alert(json.mensagem);
                    
                }
                
            );

    }
</script>
{% endblock %}