{% extends "layout.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}
	Login  - {{ block.super }}
{% endblock %}

{% block main %}
    <div class="full_width_title">
        <section>
            <h2 class="title_page">Entrar</h2>
        
            <fieldset class="field">
                <h2>Login</h2>
                <form>
                    <label for="login">Usuário*</label>
                        <input class="campo" type="email" name="login" id="login" maxlength="60" required="true" placeholder="Digite seu usuário">
                    <label for="senha">Senha*</label>
                        <input class="campo" type="password" name="senha" id="senha" maxlenght="10" required="true" placeholder="Digite sua senha">
                    <a class="link" href="/esqueci-senha">Esqueci a senha</a>
                    <div class"check-group">
                        <input class="check" type="checkbox" name="lembrar" id="lembrar">
                        <label class="check" for="lembrar"> Lembre-se de mim</label>
                    </div>
                    
                    <button type="submit" name="enviar" id="send">Enviar</button>
                </form>
            </fieldset>
    </div>
{% endblock %}

{% block scripts %}
  <script>
    console.log('script home, pos main');
  </script>
{% endblock %}