{% load static %}
<div class="sidemenu-box">
    <h2>Acesso Rápido</h2>    
    <nav  id="side-menu" class = "side-menu">
        <ul>
            <li> <a href="">Aplicar Testes Online</a></li>
            <li> <a href="">Disponibilizar Materiais Instrucionais</a></li>
            <li> <a href="">Disponibilizar Trabalhos</a></li>
            <li> <a href="">Disponibilizr Exercícios</a></li>
            <li> <a href="">Trabalhos Recebidos</a></li>
            <li> <a href="">Exercícios Recebidos</a></li>
            <li> <a href="">Avaliação Participativa</a></li>
            <li> <a href="">Controle de Entregas de Artefatos por Projeto</a></li>
            <li> <a href="">Cancelamento de Matrícula</a></li>
        <ul>
    </nav>
</div>