*{
    font-family: sans-serif;
    margin-bottom: 10px;
}
.container{
    margin: 10px 115px;
}

.list-all{
    display: flex;
    flex-flow: row wrap;
    
}

.lista{
    margin-right: 30px;
    width: 20%;
}

.sobre_curso{
    margin-bottom: 50px;
}

.TitleGradeCurricular{
    margin-bottom: 30px;
}

.p_paragrafo{
    text-align: justify;
    font-family: sans-serif;
}

a {
    text-decoration:none;
    color:#000;
}

.sesao{
    margin: 100px;
}

ul{
    list-style: none;
}

.titulo{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.img_1{
    margin: 0 110px;
}

