<html>
<head>
    <meta charset="utf-8"/>
    <title>Notícias</title>
    <link rel="stylesheet" type="text/css" href="css/estiloNoticias.css">
    <link rel="stylesheet" type="text/css" href="css/estiloPadrao.css">
</head>
<body>
  <header class="cabecalho">
      <input type= "checkbox" id = "btn_menu">
      <label for="btn_menu">&#9776;</label>
       <nav class = "menu">
            <ul>
                <li> <a href="index.html"> Home</a></li>
                <li> <a href="cursos.html"> Cursos</a></li>
                <li> <a href="noticias.html"> Noticias</a></li>
            <ul>
       </nav>
      <div class = "logo"> <h2> UTA </h2><div>
  </header>
</br>
	<section>
	<center>
		<div class="title">
			<h1>Notícias</h1>
		</div>
		<article class= "noticias">
			<div class = "noticia">
				<h4>Alunos da UTA têm alta empregabilidade no mercado de trabalho</h4>
				<P> A UTA está sempre atenta às exigências de um mercado altamente seletivo,
					oferecendo um ensino de qualidade, professores altamente qualificados, preparando seus alunos para terem
					uma boa empregabilidade.
					alunos.
				</P>
				<button class="button button2">Leia Mais</button>
			</div>
			<div class = "noticia">
				<h4>UTA oferece mais de 100 bolsas todo ano!</h4>
				<p>Todo anos a UTA oferece mais de 100 bolsas de estudos para alunos de baixa renda, oferemos por meio de recursos como Prouni eo proprio vestivular
					da faculdade. No ano de 2017 a UTA foi a faculdade que mais ofereceu bolsas de estudos, possibilitanto um conhchecimeto a todos
				</p>
				<button class="button button2">Leia Mais</button>
			</div>
			<div class = "Noticia">
				<h4>Novo Curso na UTA!</h4>
				<p>Novidade na  UTA, nossa faculdade oferece mais 3 cursos de graduação,no inicio de 2018 vcamos começar o semestre co  uma novo curso, graduação em
					designer gráfico.Para jovens criativos, que desejam projetar o futuro e explorar diferentes linguagens e
					técnicas em projetos gráficos e digitais.
				</p>
				<button class="button button2">Leia Mais</button>
			</div>
		</article>
	</center>
	</section>
</body>
</html>
