{% extends "layoutprofessor.html" %}
{% load static %}

{% block css %}
  <!--<link rel="stylesheet" href="{% static 'css/ccs-da-pagina.css' %}"> -->
{% endblock %}

{% block title %}
	Área do Professor  - {{ block.super }}
{% endblock %}

{% block main %}
<div class="full_width_title">
    <section>
        <h2 class="title_page">Área do Professor</h2>
        <div class="sidemenu-box">
            <h2>Acesso Rápido</h2>    
            <nav  id="side-menu" class = "side-menu">
                <ul>
                    <li> <a href="">Aplicar Testes Online</a></li>
                    <li> <a href="">Disponibilizar Materiais Instrucionais</a></li>
                    <li> <a href="">Disponibilizar Trabalhos</a></li>
                    <li> <a href="">Disponibilizar Exercícios</a></li>
                    <li> <a href="">Trabalhos Recebidos</a></li>
                    <li> <a href="">Exercícios Recebidos</a></li>
                    <li> <a href="">Avaliação Participativa</a></li>
                    <li> <a href="">Controle de Entregas de Artefatos por Projeto</a></li>
                    <li> <a href="">Cancelamento de Matrícula</a></li>
                <ul>
            </nav>
        </div>
        <div class="painel-box">
            <div id="identificacao">
                Professor: Zezinho | RA: 170012345
                <button type="button" id="sair">Sair</button>
            </div>
            <div>
            <h2>Conteúdo</h2>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
  <script>
    
  </script>
{% endblock %}

