body{
	background-color: rgba(173,216,230,0.5);
	
}

section{
    margin-top: 8%;
  }
  

.TitleSobreCurso{
	background-color: #B0C4DE;
	
}
.TitleGradeCurricular{
	background-color: #B0C4DE;
}
.linkMateria:hover{
	color:#4876FF;
}
.linkMenu:link {
    color: #000;
    text-decoration:none; 
}

.linkMenu:visited {
    color: #4682B4;
}

.linkMenu:hover {
    color: #87CEEB;
    
}

.linkMenu:active {
    color: #4682B4;
}
