*{
    margin:0;
    padding: 0;
}
.text {
    color: #5A5A5A;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.nova{
    padding-left:10px;
	padding-right:10px;
	padding-bottom: 5px;
	padding-top: 5px;
	color:#ffffff;
	background-color:#12b42d;
    font-size:11px;
    text-transform: uppercase;
	font-weight:bold;
	border: 2px;
    border-radius: 2px;
    float: right;
    cursor: pointer; 
    
}
.nova:hover{
    padding-left:10px;
	padding-right:10px;
	padding-bottom: 5px;
	padding-top: 5px;
	color:#ffffff;
	background-color:#0cf533;
    font-size:11px;
    text-transform: uppercase;
	font-weight:bold;
	border: 2px;
    border-radius: 2px;
    float: right;
    cursor: pointer; 
}
section h1{
    color: #B3B3B3; 
    font-family: "Cutive Mono"; 
    font-size: 35px;
    font-weight: 400; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-bottom: 30px;
}
h2{
    color: #494949; 
    font-family: "Cutive Mono"; 
    font-size: 40px;
    font-weight: 600; 
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 3px solid #00C1CF;
    width: 10%;
    white-space: nowrap;
}
h2#title-text{
    color: #494949; 
    font-family: "Cutive Mono"; 
    font-size: 30px;
    font-weight: 600; 
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 3px solid #00C1CF;
    width: 100%;
    white-space: normal;
}

h2.title_page{
    color: #FFFFFF; 
    font-family: "Cutive Mono"; 
    font-size: 60px;
    font-weight: 700; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-top: 140px;
    border-bottom: 3px solid #00C1CF;
    width: 100%;
    white-space: normal;
}
h3{
     
    font-family: "Cutive Mono"; 
    
    font-weight: 600; 
        
} 


ul.ul_estrutura li{
    color:#4E4E4E;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left

}

div.full_width section h3{
    color: #FFFFFF; 
    font-family: "Cutive Mono"; 
    font-size: 30px;
    font-weight: 600; 
    text-align: center;
    letter-spacing: -2px;
}   

section {
    width: 1200px;
    margin: auto;
    z-index: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #5e5e5e;
    font-size: 10px;
    padding: 60px 0px 60px 0px;
}

div.links {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
}
div.questao {
    margin: 10px 0px;
}

figure.img_bt {
    position: relative;
    margin: 5px;
}

figure.img_bt img{
    width: 288px;
    display:block;
    float:left;
}

figure.img_bt figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: white;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 0.5s;
 }

figure.img_bt figcaption h3{
    font-size: 22px;
    padding:35% 50px 50px 50px; 
} 


figure.img_bt figcaption:hover {
    opacity: 100;
    background: rgba(0, 0, 0, 0.6);
    
 }

figure.img_not {
    position: relative;
    margin: 5px;
}

figure.img_not img{
    width: 600px;
}

figure.img_not figcaption{
    opacity: 1;
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    color: white;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 0.5s;
 }

figure.img_not figcaption h3{
    text-align: left;
    font-size: 22px;
    padding:50% 50px 50px 50px; 
} 


figure.img_not figcaption:hover {
    opacity: 100;
    background: rgba(0, 0, 0, 0.6);
    
 }

div.full_width {
    background-image: url(../img/01.jpg);
    background-attachment: fixed;
    text-align: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

div.full_width_title {
    background-image: url(../img/04.jpg);
    background-attachment: fixed;
    width: 100%;
    padding-top: 60px;
}

div.full_width_line {
    background-image: url(../img/04.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 80px;
    clear: both;
}

div.full-width-color {
    background-color: #F3F3F3;
    padding-top: 60px;
    padding-bottom: 60px;
      
}

div.col_left {
    padding: 5%;
    width: 450px;
    float: left;
    display:block;
}


div.full-width-color img {
    width: 600px;
    box-shadow: 0px 3px 5px #363636;
    text-align: center;
}

.grid-curso{
    width: 296px;
    margin-top: 0;
    margin-bottom: 10px;
    display:inline-block;
    position: relative;
}

.grid-curso ul li{
    list-style: none;
    margin: 0px;
    padding: 0px 0px 15px 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid #CCCCCC;
}
.grid-curso ul li > p{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    align-items: center;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #363636;
    overflow-wrap: break-word;
    padding: 0px, 20px;
}

@media screen and (max-width: 1300px) {
    section {
        width: 90%;
    }
    figure.img_bt img{
        width: 100%;
    }
    figure.img_not img{
        width: 100%;
    }
    div.full-width-color img {
        width: 550px;
        
    }
    .grid-curso{
        width: 33%;
    }
}

@media screen and (max-width: 820px) {
    figure.img_not figcaption h3{
        padding:30% 50px 50px 50px; 
    } 

    div.col_left {
        width: 100%
    }

    div.full-width-color img {
        width: 100%;
    }

    div.links{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
    }
    .grid-curso{
        width: 48%;
    }
}

@media screen and (max-width: 420px) {
    figure.img_not figcaption h3{
        padding:20% 50px 50px 50px; 
    } 
    div.full-width-color img {
        width: 100%;
    }
    .grid-curso{
        width: 100%;
    }
 
}

/** Forms **/

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #1f6c75;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.campo {
    background-color:#ffffff;
    border:1px solid #D2D2D2;
	border-radius: 2px;
    padding:15px;
    align-items: center;
    width:100%;
    box-sizing:border-box;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.field{
	border:1px;
	border-radius:2px;
	background-color:#F6F6F6;
    padding:50px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46);
}

.field-section{
    border:2px;
    border-radius:2px;
    padding: 50px;
    border-color: #9E9C9C;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.46);
    margin-bottom: 30px;
}
legend{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #A7A7A7;
    background-color: #F6F6F6;
    padding: 10px; 


}

.text_area{
    background-color:#ffffff;
    border:1px solid #D2D2D2;
	border-radius: 2px;
    padding:15px;
	width:100%;
	margin: auto;
    height:100px;
    margin-bottom: 20px;
    box-sizing:border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

input.nota{
    background-color:#ffffff;
    border:1px solid #D2D2D2;
	border-radius: 2px;
    padding:3px;
	margin: auto;
    box-sizing:border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    width: 50px;
}

.form-group{
    width: 100%;
    
    padding: 15px;
}

form button{
	padding-left:50px;
	padding-right:50px;
	padding-bottom: 15px;
	padding-top: 15px;
	color:#ffffff;
	background-color:#1f6c75;
    font-size:14px;
    text-transform: uppercase;
	font-weight:bold;
	border: 0px;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}	

form button:hover{
	padding-left:50px;
	padding-right:50px;
	padding-bottom:15px;
	padding-top:15px;
	color:#ffffff;
	background-color:#00C1CF;
	font-size:14px;
    font-weight:bold;
    text-transform: uppercase;
	border: 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
    float: right;
    cursor: pointer;
}

.link{
	display: block;
    margin-bottom: 5px;
    margin-right: 50px;
    text-align: left;
    color: #1f6c75;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    float:left;
    
}

.link:hover{
    color: #00C1CF;
}    



.check {
    display: inline-block;  
}

input.check {
    size: 30px;
}

div.check-group{
    float: left;
    
}