section#painel {
    width: 1200px;
    margin: auto;
    z-index: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #5e5e5e;
    font-size: 10px;
    padding: 60px 0px 60px 0px;
    position: relative;
}

h2#title{
    color: #494949; 
    font-family: "Cutive Mono"; 
    font-size: 30px;
    font-weight: 600; 
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 3px solid #00C1CF;
    width: 10%;
    white-space: nowrap;
}

.sidemenu-box{
	border:1px;
	border-radius:2px;
	background-color:#F6F6F6;
    padding:50px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46);
    margin-bottom: 60px;
    display:block;
    position: relative;
    float: left;
}

.painel-box{
    border:1px;
	border-radius:2px;
	background-color:#F6F6F6;
    padding:50px;
    width:650px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46);
    display: block;
    position: relative;
    float: right;
}

.side-menu ul li{
    list-style: none;
    margin: 0px;
    padding: 0px 0px 15px 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid #CCCCCC;
    font-family: 'Source Sans Pro', sans-serif;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 700;
}

.side-menu a:link, .side-menu a:visited {
    color:#5e5e5e;
    text-decoration:none;
}
.side-menu a:hover, .side-menu a:active {
    color:#00C1CF;
    text-decoration:none;
}
.painel-box div{
    padding: 20px 0px 0px 0px;
}

div#identificacao{
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    color: #5e5e5e;
    font-size: 13px;
    border-bottom: 1px solid #B3B3B3;
    padding: 0px 0px 20px 0px;

}

div#identificacao button{
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
	color:#ffffff;
	background-color:#1F6B75;
    font-size:12px;
    text-transform: uppercase;
	font-weight:bold;
	border: 0px;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}	

div#identificacao button:hover{
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
	color:#ffffff;
	background-color:#00C1CF;
	font-size:12px;
    font-weight:bold;
    text-transform: uppercase;
	border: 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    section#painel {
        width: 90%;
    }

    .sidemenu-box{
        padding:50px;
        width: 300px;
    }
    
    .painel-box{
        padding:50px;
        width:550px;
        margin-left: 2%;
    }
}

@media screen and (max-width: 820px) {
    .sidemenu-box{
        padding:40px;
        width: 80%;
        display: inline-block;
        position: relative;
        float: none;
        
    }
    
    .painel-box{
        padding:40px;
        width:80%;
        margin-left: 0px;
        display: inline-block;
        position: relative;
        float: none;
    }
}